.acceso {

    width: 97%;
    padding: 5px;;
    border: solid 1px black;
    margin: auto;
    

}

.accesoFamilias {
    text-align: center;
    background-color: $color-celeste;
    font-family: 'Sintony', sans-serif;
    font-size: 25PX;
}


.accesoProfesores {
    text-align: center;
    background-color: $color-rojo;
    font-family: 'Sintony', sans-serif;
    font-size: 25PX;
}
