$color-azul: #023440;
$color-rojo: #f02137;
$color-amarillo: #fca300;
$color-celeste: #4790e7;


/*fonts:
font-family: 'Sintony', sans-serif;  TITULO
font-family: 'Poppins', sans-serif; SUBTITULO*/ 





/* body */
body {
    font-family: Tahoma;}
    
    


.tituloPrincipal {
    font-family: Sintony;
    font-size: 60px;
    color: $color-rojo;
    text-align: center;
}



.tituloSegundo {
    font-family: Sintony;
    font-size: 45px;
    color: $color-azul;
}


.subtitulos {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    
    }
