



  
  


/*

ul {
    list-style: none;
    padding: 0;
    text-align: right;

}

ul li {
display: inline-block;
position: relative;
margin: 2px;
border: solid 8px #f22636;
padding: 0px ;
}

ul li a {

display: block;
list-style: none;
text-decoration: none;
color: #FEFEFE;
font-family: Sintony;
font-size: 40px;
font-weight: bold;
background-color: #127ba6;

}

ul ul {
position: absolute;
display: none;
}

ul li:hover ul {
    display:block;}

/* - - Estilos de títulos y párrafos - - */






/* - - - */

.indexCursosFlex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 1%;
    margin: auto;



}



/* - - - */

.parrafosSecciones {
font-size: 20px;
color: black;
text-align: justify;
}

.fotosNosotrosRojo {
    border: 5px;
    border-style: solid;
    border-color: #f2274c }

.fotosNosotrosAzul {
    border: 5px;
    border-style: solid;
    border-color: #127ba6  }

.fotosNosotrosAmarillo {
    border: 5px;
    border-style: solid;
    border-color: #f2e93f   }

.fotosNosotrosVerde {
    border: 5px;
    border-style: solid;
    border-color: #8ef233   }

/* - - - */

/*
.tablaCursos {
    background-image:  url(../images/cursos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 24px;
    -webkit-text-stroke: 1px red;
    color: #127ba6; 
}

table tr td ul li {
    list-style: none;
}
    

table a {

    text-decoration: none;
    font-size: 20px;
    -webkit-text-stroke: 1px #127ba6;
    color: #8ef233 ; 
}
*/


/* cursos */

