<!DOCTYPE html>
<!-- página de los CURSOS -->
<html>
    <head>
        <meta charset="utf-8">
        <title>PRAXIS School of English - Contacto</title>
        <meta name="description" content="PRAXIS School of English - Inglés -  Contacto">
        <meta name="keywords"  content="Aprender Inglés Cursos Niños Adolescentes Adultos Contacto">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/estilosSCSS.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;800&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
     </head>

<body>

    <header>
        <a href="../index.html"><img src="../images/Marca-PRAXIS.png" width="250" alt="Praxis Cipolletti"></a>
    
    <nav class="navMenusNoIndex">
        <ul class="navUlMenusNoIndex">
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/nosotros.html">Nosotros</li></a>
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/cursos.html">Cursos</li></a>
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/acceso.html">Acceso</li></a>
        </ul>
    
    </nav>
    </header>

<section><h2 class="tituloPrincipal">Contacto</h2></section>


<form>
    <fieldset class="formularioContacto">
        <form>
            <label for="Usuario">Nombre:</label>
            <input type="text" name="Nombre" placeholder="nombre"/></form>
            <br/>
            <br/>
            <form>
                <label for="E-mail"><E-mail>E-Mail:</E-mail>:</label>
                <input type="text" name="Nombre" placeholder="E-mail"/></form>
                  
    <br/>
    <br/>
      Busco información de Cursos para...
      <form>
          <select name="Cursos"> 
            <option value="Niños">Niños</option>
            <option value="Adolescentes">Adolescentes</option>
            <option value="Adultos">Adultos</option>
          </select>
        </form>
<br/>
<br/>

    
<textarea name="comentarios" rows="10" cols="40">Disponibilidad horaria</textarea>
<br/>
<br/>
<form>
    <input type="checkbox" name="acepta" value="1" />Deseo recibir información de cursos y novedades
</form>
<br/>
<br/>

<form>
    <input type="reset" value="Limpiar"/>
</form>


<form>
    <input type="submit" value="Enviar consulta"/>
</form>

</fieldset>
</form>
<br/>

<hr>
<footer>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7381.632853549593!2d-68.00279154935994!3d-38.93324939747325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2624ad37969bffa!2sPraxis%20English%20Institute!5e0!3m2!1ses!2sar!4v1595710700719!5m2!1ses!2sar" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe></div>
    <div class="footerDireccion"><p>Almirante Brown 82 - Cipolletti - Río Negro <br>0299 478-4080 <br>
    praxiscipolletti@gmail.com</p>

    </div>

    <div class="footerRedes"><a href="https://www.facebook.com/instituto.praxis.5" target="blank"><img src="../images/FacebookPng.png" width="27"></a>
        <a href="https://instagram.com/praxiscipolletti?igshid=1jjwurdt66o8q" target="blank"><img src="../images/instagramPng.png" width="28"></a>
    </div>

</footer>


</div>
</body>

</html>
