<!DOCTYPE html>
<!-- página de los CURSOS -->
<html>
    <head>
        <meta charset="utf-8">
        <title>PRAXIS School of English - Nosotros</title>
        <meta name="description" content="PRAXIS School of English - Inglés -  Nosotros">
        <meta name="keywords"  content="Aprender Inglés Cursos Niños Adolescentes Adultos Nosotros">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/estilosSCSS.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;800&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
     </head>


    <body>

<header>
    <a href="../index.html"><img src="../images/Marca-PRAXIS.png" width="250" alt="Praxis Cipolletti"></a>

<nav class="navMenusNoIndex">
    <ul class="navUlMenusNoIndex">
        <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/cursos.html">Cursos</li></a>
        <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/acceso.html">Acceso</li></a>
        <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/contacto.html">Contacto</li></a>
    </ul>

</nav>
</header>

<section class="contenedorGral">
<h2 class="tituloPrincipal">Nosotros</h2>
<p>Somos una institución que se dedica a la enseñanza de idiomas y nuestro
    objetivo no es solo la formación académica en una segunda o tercera lengua,
    sino formar personas responsables que puedan defenderse de manera eficaz
    en el mundo actual, teniendo en cuenta las herramientas necesarias paras el
    siglo XXI. Para poder lograr nuestros objetivos, creemos que es esencial el
    trabajo en equipo, clases con grupos reducidos, y personal capacitado.</p>

<article>
    <h3 class="tituloSegundo">Nuestra Historia</h3>
        <p class="parrafosSecciones">
            
            Praxis fue fundado en Marzo de 1986 en la ciudad de Cipolletti por Viviana P.
Chertudi. Comenzó como instituto de Inglés, pero a lo largo de los años se han
sumado otros idiomas como Portugués, Italiano y Francés.
En 1989 se crea Praxis Instituto de Capacitación Docente, organizando
seminarios y cursos con disertantes locales e internacionales.
En el año 1993 se inaugura de “The Bookshop”, librería especializada en textos
y material audiovisual para que los alumnos y público en general pudieran
adquirir textos de diferente índole.
Dada la necesidad de profesionalizar la enseñanza en la localidad de
Malargüe, el instituto coordina y realiza la evaluación externa del English
Center Malargüe.
Durante el año 2003 Praxis obtiene la representación local de los exámenes
internacionales Anglia Examinations (Chichester College).
Al igual que en Mendoza, en el año 2005 Praxis se encarga de la coordinación
y evaluación externa de la enseñanza del idioma Ingles en Escuela Cristiana
Descubrir de la ciudad de Cipolletti.
A partir de 2006 y siguiendo con la dedicación y el trabajo de su fundadora, se
hace cargo de la institución la señora María Emilia Ramos.
En el año 2014 se construye un edificio propio ajustado a las necesidades de la
institución, con aulas confortables, de fácil acceso y con disponibilidad de
estacionamiento.
Praxis ofrece distintos tipos de cursos para todas las edades, regulares e
intensivos, con fines específicos, clases particulares de apoyo, cursos de
conversación con hablantes nativos, talleres recreativos, salidas educativas.
En el último año, nos hemos enfocado en la enseñanza y desarrollo de las
habilidades del siglo XXI, y nos capacitamos permanentemente para poder
brindar un servicio de calidad.
También ofrecemos talleres temáticos y multisensoriales, para usar el idioma
como herramienta mientras aprendemos a cocinar, hacemos arte, reciclamos,
etc.

Tenemos entrenamientos para rendir exámenes internacionales, y la mayor
carga horaria del mercado.
A partir 2020 incorporamos clases virtuales, de una manera divertida, utilizando
nuevas herramientas para optimizar los recursos tecnológicos al máximo.
        </p>
    </article>
<br/>
    <h3 class="tituloSegundo">Nuestro Instituto</h3>
        <p class="parrafosSecciones">"Sed ut perspiciatis unde omnis iste  error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    
            <img src="../images/z Nosotros (1).jpg" alt="aulas" width="250" class="fotosNosotrosRojo"/>
            
            <img src="../images/z Nosotros (2).jpg" alt="aulas" 
            width="250" class="fotosNosotrosAzul" />

            <img src="../images/z Nosotros (3).jpg" alt="aulas" width="250"class="fotosNosotrosAmarillo"/>

            <img src="../images/z Nosotros (4).jpg" alt="aulas" width="250"class="fotosNosotrosVerde"/>

            <img src="../images/z Nosotros (5).jpg" alt="aulas" width="250" class="fotosNosotrosRojo"/>

            <img src="../images/z Nosotros (6).jpg" alt="aulas" width="250"class="fotosNosotrosAzul"/>

            <img src="../images/z Nosotros (7).jpg" alt="aulas" width="250"class="fotosNosotrosAmarillo"/>

            <img src="../images/z Nosotros (4).jpg" alt="aulas" width="250"class="fotosNosotrosVerde"/>

            <img src="../images/z Nosotros (5).jpg" alt="aulas" width="250" class="fotosNosotrosRojo"/>

            <img src="../images/z Nosotros (6).jpg" alt="aulas" width="250"class="fotosNosotrosAzul"/>
<br/>   


</section>
<br/>

<div class="consultasWhatsapp">
    <a href="https://api.whatsapp.com/send?phone=+5492994244893" target="black"><img src="../images/whatsapp-icon.png"></a>
    <span class="WhatsappConsultas">¡Consultanos!</span>
</div>
  

<br/>

<hr>
<footer>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7381.632853549593!2d-68.00279154935994!3d-38.93324939747325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2624ad37969bffa!2sPraxis%20English%20Institute!5e0!3m2!1ses!2sar!4v1595710700719!5m2!1ses!2sar" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe></div>
    <div class="footerDireccion"><p>Almirante Brown 82 - Cipolletti - Río Negro <br>0299 478-4080 <br>
    praxiscipolletti@gmail.com</p>

    </div>

    <div class="footerRedes"><a href="https://www.facebook.com/instituto.praxis.5" target="blank"><img class="button--pulsating" src="../images/FacebookPng.png" width="27"></a>
        <a href="https://instagram.com/praxiscipolletti?igshid=1jjwurdt66o8q" target="blank"><img class="button--pulsating" src="../images/instagramPng.png" width="28"></a>
    </div>

</footer>


</div>
</body>

</html>
