<!DOCTYPE html>
<!-- página de los CURSOS -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="PRAXIS School of English - Inglés -  Novedades">
        <meta name="keywords"  content="Aprender Inglés Cursos Niños Adolescentes Adultos Novedades de cursos">
        <title>PRAXIS School of English - Cipolletti</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/estilosSCSS.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;800&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
     </head>

<body>

    <header>
        <a href="../index.html"><img src="../images/Marca-PRAXIS.png" width="250" alt="Praxis Cipolletti"></a>
    
    <nav class="navMenusNoIndex">
        <ul class="navUlMenusNoIndex">
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/nosotros.html">Nosotros</li></a>
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/cursos.html">Cursos</li></a>
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/acceso.html">Acceso</li></a>
            <li class="navLiMenuNoIndex"><a class="navAMenuNoIndex" href="../views/contacto.html">Contacto</li></a>
        </ul>
    
    </nav>
    </header>

<section><h2 class="tituloPrincipal">Novedades</h2></section>

<div class="novedadesGrid">
<div class="grid-container">
    <div>
      <img class='grid-item grid-item-1' src= "../images/z Novedades (1).jpg" alt="cursos">
      <p>"Cursos xxx"</p>
    </div>

    <div>
        <img class='grid-item grid-item-1' src= "../images/z Novedades (2).jpg"  alt="cursos">
        <p>"Cursos xxx"</p>
      </div>

      <div>
        <img class='grid-item grid-item-1' src= "../images/z Novedades (3).jpg"  alt="cursos">
        <p>"Cursos xxx"</p>
      </div>

      <div>
        <img class='grid-item grid-item-1' src= "../images/z Novedades (4).jpg"  alt="cursos">
        <p>"Cursos xxx"</p>
      </div>

      <div>
        <img class='grid-item grid-item-1' src= "../images/z Novedades (5).jpg"  alt="cursos">
        <p>"Cursos xxx"</p>
      </div>

</div>

<div class="consultasWhatsapp">
    <a href="https://api.whatsapp.com/send?phone=+5492994244893" target="black"><img src="../images/whatsapp-icon.png"></a>
</div>

<br/>



<hr>
<footer>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7381.632853549593!2d-68.00279154935994!3d-38.93324939747325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2624ad37969bffa!2sPraxis%20English%20Institute!5e0!3m2!1ses!2sar!4v1595710700719!5m2!1ses!2sar" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe></div>
    <div class="footerDireccion"><p>Almirante Brown 82 - Cipolletti - Río Negro <br>0299 478-4080 <br>
    praxiscipolletti@gmail.com</p>

    </div>

    <div class="footerRedes"><a href="https://www.facebook.com/instituto.praxis.5" target="blank"><img src="../images/FacebookPng.png" width="27"></a>
        <a href="https://instagram.com/praxiscipolletti?igshid=1jjwurdt66o8q" target="blank"><img src="../images/instagramPng.png" width="28"></a>
    </div>

</footer>


</div>
</body>

</html>
